<div class="row">
  <nav class="top-bar column" style="background-color: rgb(255,160,0)" data-topbar>

      <ul class="title-area" style="background-color: rgb(255,160,0)">
        <li class="name">
          <h1>
            <a href="/">
              Headcrab Store!
            </a>
          </h1>
        </li>
        <!-- <li class="toggle-topbar"><a href="/"><span>Menu</span></a></li> -->
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <%if signed_in?%>
            <li style="background-color: rgb(255,160,0)"><%=link_to current_user.email, edit_user_registration_path%></li>
            <li style="background-color: rgb(255,160,0)"><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <%else%>
            <li style="background-color: rgb(255,160,0)"><%=link_to "Register", new_user_registration_path %></li>
            <li style="background-color: rgb(255,160,0)"><%=link_to "Login", new_user_session_path %></li>
          <%end%>
        </ul>
      </section>

    </nav>
</div>
